In [ ]:
x = 1

### datatypes
- int
- float
- bool
- str   ⭐
- Nonetype
- list  ⭐
- tuple
- set
- dict  ⭐

In [ ]:
a = "apple"

In [ ]:
a = 1000

In [ ]:
a = 3.1415

In [ ]:
b = True

In [ ]:
b = None

In [ ]:
b = [1, 2, 3] # list

In [ ]:
c = (1, 2, 3) # tuple

In [ ]:
d = {1, 2, 3} # set
e = {'a':'apple', 'b':'banana'} # dict

### operators in python
- arithmetic operators
- assignment operators
- comparison operators
- logical operators
- identity operators
- membership operators
- bitwise operators ❌

In [ ]:
a = 10
b = 3

In [ ]:
print(a + b) # add
print(a - b) # sub
print(a * b) # mul
print(a / b) # div (float)
print(a // b) # div (int)
print(a % b) # mod   
print(a ** b) # pow

In [17]:
a = 10
print(a)
a -= 2 # reduce 2 from a
print(a)
a += 4 # add 4 to a
print(a)

10
8
12

In [19]:
print(a > b)
print(a < b)
print(a <= b)
print(a >= b)
print(a == b) # equality
print(a != b)
print(0 < a < 20) # chaining

True
False
False
True
False
True
True

In [22]:
a = 100
print(0 < a < 20)

False

In [26]:
name = "Raju"
age = 19

print(name == 'Rohan')
print(name == 'Raju')

False
True

In [32]:
print(name == "Raju" and age >= 18)
print(name != 'Sohan' and age < 18)
print(name != 'Sohan' or age < 18)
print(name != 'Sohan' or not age < 18)
print(not name != 'Sohan' and not age < 18)

True
False
True
True
False

In [33]:
not name != 'Sohan'

False

In [34]:
not age < 18

True

In [35]:
a = [1,2,3]
b = a
c = a.copy()

In [36]:
print(a is b) # a and b are at same memory location
print(a is c) # a and c are at different memory locations
print(b is c) # b and c are at different memory locations

True
False
False

In [38]:
name = "William Shakespeare"

print('pear' in name)
print('shake' in name)
print('Shake' in name)

True
False
True

In [39]:
colors = ['red', 'green', 'blue']
print('red' in colors)
print('yellow' in colors)
print('green' in colors)

True
False
True

In [40]:
p = 12000
r = 7
t = 2
si = p * r * t / 100
print(si)

1680.0