#### for
- step based loop
    - repeating a step n number of times
    - tarversing iterables
    - enumeration 

#### while
condition based loop

In [1]:
range(1, 20)

range(1, 100)

```
for var in iterables:
    statements
```

In [4]:
for item in range(10):
    print(item, end=' ')

0 1 2 3 4 5 6 7 8 9

In [5]:
for i in range(-10, 10):
    print(i, end=' ')

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9

In [7]:
for i in range(-10, 11, 2):
    print(i, end=' ')

-10 -8 -6 -4 -2 0 2 4 6 8 10

In [8]:
# reverse
for i in range(15, 0, -1):
    print(i, end=' ')

15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [10]:
for _ in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [11]:
# all variables below are iterable
name = "Albert Silvador"
words = ['Hi', "Hello", "Aloha", "Hola"] # list
colors = ('red', 'green', 'blue') # tuple
numbers = {1,2,5,6,7,23,12,21,25} # set

In [18]:
for char in name:
    print(char, end=' ')
print()
for word in words:
    print(word, end=' ')
print()
for c in colors:
    print(c, end=' ')
print()
for i in numbers:
    print(i, end=' ')

A l b e r t   S i l v a d o r
Hi Hello Aloha Hola
red green blue
1 2 5 6 7 12 21 23 25

In [22]:
names = ['Harsh','Nishant','Aman',
         'Kratagya','Ayush','Natasha',
         "Mahek",'Akash','Krishna']
for idx, val in enumerate(names):
    print(idx, val)

0 Harsh
1 Nishant
2 Aman
3 Kratagya
4 Ayush
5 Natasha
6 Mahek
7 Akash
8 Krishna

In [23]:
surnames = ['Srivastava','Shukla','Raza',
            'Jaiswal','Singh', 'Kanuajia',
            'Singhal','Gupta','Agarwal']

for fname, lname in zip(names, surnames):
    print(fname, lname)

Harsh Srivastava
Nishant Shukla
Aman Raza
Kratagya Jaiswal
Ayush Singh
Natasha Kanuajia
Mahek Singhal
Akash Gupta
Krishna Agarwal

In [30]:
x = [1,2,3,0,4,5,0,6,0,6,7]
for i in x:
    if i == 0 or i == 5:
        continue
    print(i, end=' ')

1 2 3 4 6 6 7

In [33]:
for i in x:
    if i == 0:
        break
    print(i, end=' ')

1 2 3

In [34]:
x = []
for i in x:
    print(i, end=' ')

In [39]:
# for - else
for i in range(5):
    name = input("enter name of person:")
    if name:
        print(f"Hello {name}")
    else:
        break
else:
    print("Well done ü•ô")

Hello a
Hello b
Hello c
Hello d

In [40]:
n = 0
while n < 100:
    print(n)
    n += 10

0
10
20
30
40
50
60
70
80
90

In [41]:
# infinite loop controlled by user
while True:
    num = int(input("enter a number greater than 100:"))
    if num > 100:
        print(f'{num} ‚úÖ')
    else:
        print(f"‚ùå{num}‚ùå")
        break

43903 ‚úÖ
34902034 ‚úÖ
459 ‚úÖ
‚ùå12‚ùå

In [42]:
for i in range(13):
    print(i * '*')

*
**
***
****
*****
******
*******
********
*********
**********
***********
************