In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

reading excel

In [ ]:
df = pd.read_excel('Canada.xlsx',sheet_name=1,
                   skiprows=20, skipfooter=2)

reading csv

In [ ]:
df2 = pd.read_csv('blood_transfusion.csv')
df2

filling data manually

In [ ]:
data ={
    'sno': [1,2,3,4,5],
    'years': [2010, 2020, 2021, 2023, 2024],
    'price': [10, 20, 30, 40, 50]
}
df3 = pd.DataFrame(data)
df3

loading a file with absolute path

In [ ]:
# df4 = pd.read_excel(r"C:\Users\ZAID\Desktop\data_example.xlsx")
# df4

what to do in pandas
- loading data
- view data
- change pandas settings
- row and column operations
    - selection
    - add
    - remove
    - changes
- data cleaning
    - handling missing values
    - dropping duplicates
    - removing unwanted data
    - renaming columns
    - changing data types
    - handling outliers
- analysis
    - descriptive statistics
    - group by
    - pivot table
    - correlation
- visualization
    - univariate
    - bivariate
    - multivariate
    - geospatial
- saving data

In [ ]:
df

In [ ]:
df.head() # first 5 rows

In [ ]:
df.head(1) # first 1 rows

In [ ]:
df.tail() # last 5 rows

In [ ]:
df.tail(10) # last 10 rows

In [ ]:
df[10:21]

In [ ]:
df.iloc[5] # indexed location 5

In [ ]:
print(df.columns.tolist())

In [ ]:
# single column selection
df['OdName']

In [ ]:
# multiple column selection
col_list = ['OdName', 1980, 1990, 2000, 2010]
df[col_list].head()

In [ ]:
df[['OdName','AreaName']]

In [ ]:
df.iloc[:, :5] # all rows and first 5 columns

In [ ]:
pd.set_option('display.max_columns',None)
df

In [ ]:
df.info()

In [ ]:
df2.info()

In [ ]:
df.describe() # numerical columns short summary

In [ ]:
df[1980].max()

In [ ]:
df.describe(exclude='number')

In [ ]:
df2.describe(include='all')

In [ ]:
df.select_dtypes(include='number')

In [ ]:
df.select_dtypes(include='object')

In [ ]:
df.shape

In [ ]:
df['Bekar'] = 10

In [ ]:
random_nums = np.random.randint(1, 1000, 195)
df['random'] = random_nums
df

In [ ]:
df['Total'] = df[list(range(1980, 2014))].sum(axis=1)
df

In [ ]:
df[['OdName','Total']]

In [ ]:
df[['OdName','Total']].plot(
    kind='bar',
    x = 'OdName',
    y = 'Total',
    color = 'red',
    title='Ye kaisa plot h?', figsize=(25,5))

In [ ]:
df.sort_values(by='Total', ascending=False, inplace=True)
df[['OdName','Total']].head(25).plot(
    kind='bar',
    x = 'OdName',
    y = 'Total',
    color = 'green',
    title='Ye better plot h', figsize=(15,5))

In [ ]:
df.sort_values(by=['AreaName','OdName'], ascending=[False,True])

remove

In [ ]:
df.drop(columns=['Bekar','random'], inplace=True)

In [ ]:
df.head()

In [ ]:
df.drop(index=[149, 123, 109, 191])

In [ ]:
df.drop_duplicates(subset='AreaName')

In [212]:
df.reset_index(drop=True, inplace=True)

In [214]:
df['Type'].nunique()

1

In [217]:
df['Coverage'].unique()

array(['Foreigners', 'Citizens'], dtype=object)

In [218]:
df['Coverage'].value_counts()

Coverage
Foreigners    194
Citizens        1
Name: count, dtype: int64

In [231]:
continent_count = df['AreaName'].value_counts()
continent_count

AreaName
Africa                             54
Asia                               49
Europe                             43
Latin America and the Caribbean    33
Oceania                            14
Northern America                    2
Name: count, dtype: int64

In [234]:
# renaming columns
df.columns.tolist()

['Type',
 'Coverage',
 'OdName',
 'AREA',
 'AreaName',
 'REG',
 'RegName',
 'DEV',
 'DevName',
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 'Total']

In [237]:
df.rename(
    columns={
        'OdName':'Country',
        'AreaName':'Continent',
        'RegName':'Region',
        'DevName':'Status'},
    inplace=True)
df.head()

,Type,Coverage,Country,AREA,Continent,REG,Region,DEV,Status,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Immigrants,Foreigners,India,935,Asia,5501,Southern Asia,902,Developing regions,8880,8670,8147,7338,5704,4211,7150,10189,11522,10343,12041,13734,13673,21496,18620,18489,23859,22268,17241,18974,28572,31223,31889,27155,28235,36210,33848,28742,28261,29456,34235,27509,30933,33087,691904
1,Immigrants,Foreigners,China,935,Asia,906,Eastern Asia,902,Developing regions,5123,6682,3308,1863,1527,1816,1960,2643,2758,4323,8076,14255,10846,9817,13128,14398,19415,20475,21049,30069,35529,36434,31961,36439,36619,42584,33518,27642,30037,29622,30391,28502,33024,34129,659962
2,Immigrants,Foreigners,United Kingdom of Great Britain and Northern I...,908,Europe,924,Northern Europe,901,Developed regions,22045,24796,20620,10015,10170,9564,9470,21337,27359,23795,31668,23380,34123,33720,39231,30145,29322,22965,10367,7045,8840,11728,8046,6797,7533,7258,7140,8216,8979,8876,8724,6204,6195,5827,551500
3,Immigrants,Foreigners,Philippines,935,Asia,920,South-Eastern Asia,902,Developing regions,6051,5921,5249,4562,3801,3150,4166,7360,8639,11865,12509,12718,13670,20479,19532,15864,13692,11549,8735,9734,10763,13836,11707,12758,14004,18139,18400,19837,24887,28573,38617,36765,34315,29544,511391
4,Immigrants,Foreigners,Pakistan,935,Asia,5501,Southern Asia,902,Developing regions,978,972,1201,900,668,514,691,1072,1334,2261,2470,3079,4071,4777,4666,4994,9125,13073,9068,9979,15400,16708,15110,13205,13399,14314,13127,10124,8994,7217,6811,7468,11227,12603,241600